@import "bootstrap/dist/css/bootstrap.min.css";
@import "react-toastify/dist/ReactToastify.css";

body {
  padding-top: 50px;
}

[href] {
  cursor: pointer;
}

.navbar-brand {
  align-items: center;
  display: flex;
  font-weight: 800;
}

.navbar-brand img {
  width: 24px;
}

.avatar {
  max-width: 480px;
  margin-bottom: 20px;
}

.nav-tabs {
  margin-bottom: 10px;
}

.page-header {
  align-items: center;
  border-bottom: 1px solid #ccc;
  display: flex;
  margin-bottom: 1rem;
}

.form-group {
  padding: 10px;
}

.type {
  margin-left: 1px;
}

.type-normal {
  background-color: #a8a878;
  border: solid 1px #6d6d4e;
}

.type-fire {
  background-color: #f08030;
  border: solid 1px #9c531f;
}

.type-fighting {
  background-color: #c03028;
  border: solid 1px #7d1f1a;
}

.type-water {
  background-color: #6890f0;
  border: solid 1px #445e9c;
}

.type-flying {
  background-color: #a890f0;
  border: solid 1px #6d5e9c;
}

.type-grass {
  background-color: #78c850;
  border: solid 1px #4e8234;
}

.type-poison {
  background-color: #a040a0;
  border: solid 1px #c183c1;
}

.type-electric {
  background-color: #f8d030;
  border: solid 1px #a1871f;
}

.type-ground {
  background-color: #e0c068;
  border: solid 1px #927d44;
}

.type-psychic {
  background-color: #f85888;
  border: solid 1px #a13959;
}

.type-rock {
  background-color: #b8a038;
  border: solid 1px #786824;
}

.type-ice {
  background-color: #98d8d8;
  border: solid 1px #638d8d;
}

.type-bug {
  background-color: #a8b820;
  border: solid 1px #6d7815;
}

.type-dragon {
  background-color: #7038f8;
  border: solid 1px #4924a1;
}

.type-ghost {
  background-color: #705898;
  border: solid 1px #493963;
}

.type-dark {
  background-color: #705848;
  border: solid 1px #49392f;
}

.type-steel {
  background-color: #b8b8d0;
  border: solid 1px #787887;
}

.type-fairy {
  background-color: #ee99ac;
  border: solid 1px #9b6470;
}

.ng-invalid.ng-dirty {
  border-color: #d9230f;
}

.ng-valid.ng-dirty {
  border-color: #468847;
}

.card {
  width: 18rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-header h5 {
  margin: 0;
}

.card-img,
.card-footer {
  background: white;
}

.card-img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card-footer {
  text-align: center;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.8rem;
  justify-content: space-between;
}

.pagination {
  justify-content: center;
}

.page-link, .page-link:hover, .page-link:focus  {
  color: var(--bs-danger);
}

.page-link:focus {
  box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%)
}

.page-item.active .page-link {
  background-color: var(--bs-danger);
  border-color: var(--bs-danger);
}
